@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Arial', 'Yu Gothic', 'Meiryo', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.scroll-none {
  /*スクロールバー非表示（IE・Edge）*/
  -ms-overflow-style: none;
  /*スクロールバー非表示（Firefox）*/
  scrollbar-width: none;
}

.scroll-none::-webkit-scrollbar {
  display: none;
}

select {
  padding: 6px 32px 6px 12px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #fff;
  background-image: url(/select-arrow.svg);
  background-position: right 12px center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  appearance: none;
  font-size: 14px;
  color: #111;
}
